# React
frontend/node_modules/
frontend/dist/

# Spring Boot
backend/target/

# Environment files
.env
.env.local

# IDE files
backend/.classpath
backend/.project
backend/.settings/
backend/.factorypath
backend/.springBeans
backend/.sts4-cache

# Logs
*.log